aws_region = "us-east-2"
tfc_organization_name = "ericreeves-demo"
hvs_aws_audience = "arn:aws:iam::XXXXXXXXXXXX:oidc-provider/idp.hashicorp.com/oidc/organization/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
hvs_openid_connect_url = "idp.hashicorp.com/oidc/organization/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
hcp_project_id = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
hcp_service_principal_name = "tfc-sp"
hcp_iam_workload_identity_provider_name = "hcp-terraform-aws"
tfc_project_name = "Alluvium Cloud - Users"
tfc_workspace_name = "app-team-1"